# This file is to config Appender for WDG
# The config of output is Rolling File Appender

log4cplus.logger.WDG=INFO,wdtAppender
log4cplus.appender.wdtAppender=log4cplus::RollingFileAppender
log4cplus.appender.wdtAppender.File=${TRAF_LOG}/wdg${TRAFODION_LOG_FILENAME_SUFFIX}
log4cplus.appender.wdtAppender.MaxFileSize=100MB
log4cplus.appender.wdtAppender.MaxBackupIndex=1
log4cplus.appender.wdtAppender.UseLockFile=false
log4cplus.appender.wdtAppender.File.AddPid=false
log4cplus.appender.wdtAppender.layout=log4cplus::PatternLayout
log4cplus.appender.wdtAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m
log4cplus.appender.wdtAppender.ImmediateFlush=true
log4cplus.additive.wdtAppender=false
log4cplus.appender.wdtAppender.Append=true;
