# This file is to config Appender for MXOSRVR
# The config of output is Rolling File Appender


log4cplus.appender.sqlAppender=log4cplus::RollingFileAppender
log4cplus.appender.sqlAppender.File=${TRAF_LOG}/master_exec${TRAFODION_LOG_FILENAME_SUFFIX}
log4cplus.appender.sqlAppender.MaxFileSize=100MB
log4cplus.appender.sqlAppender.MaxBackupIndex=2
log4cplus.appender.sqlAppender.UseLockFile=fse
log4cplus.appender.sqlAppender.layout=log4cplus::PatternLayout
log4cplus.appender.sqlAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m%n
log4cplus.appender.sqlAppender.ImmediateFlush=true
log4cplus.additive.sqlAppender=false
log4cplus.appender.sqlAppender.Append=false;

#MXOSRVR
log4cplus.logger.MXOSRVR=ERROR,sqlAppender

# SQL
log4cplus.logger.SQL=INFO,sqlAppender
log4cplus.logger.com.esgyn.common=ERROR,sqlAppender

#log4cplus.logger.SQL.HDFS.ExtStorageScanTcb=DEBUG
#log4cplus.logger.SQL.HDFS.ParquetFileReader=DEBUG
#log4cplus.logger.SQL.HDFS.OrcFileReader=DEBUG
#log4cplus.logger.SQL.HDFS.HdfsScan=DEBUG
#log4cplus.logger.SQL.HDFS.NestedJoin=DEBUG
#log4cplus.logger.SQL.HDFS.SplitBottom=DEBUG
#
# minmax run-time
#log4cplus.logger.SQL.EXE.MINMAX=INFO,sqlAppender
#log4cplus.logger.SQL.EXE.MINMAX=DEBUG,sqlAppender
#
log4cplus.logger.SQL.SharedCache=DEBUG
