# This file is to config Appender for MONITOR
# The config of output is Rolling File Appender

log4cplus.logger.MON=INFO,monAppender
log4cplus.appender.monAppender=log4cplus::RollingFileAppender
log4cplus.appender.monAppender.File=${TRAF_LOG}/mon${TRAFODION_LOG_FILENAME_SUFFIX}
log4cplus.appender.monAppender.MaxFileSize=100MB
log4cplus.appender.monAppender.MaxBackupIndex=1
log4cplus.appender.monAppender.UseLockFile=false
log4cplus.appender.monAppender.File.AddPid=false
log4cplus.appender.monAppender.layout=log4cplus::PatternLayout
log4cplus.appender.monAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m
log4cplus.appender.monAppender.ImmediateFlush=true
log4cplus.additive.monAppender=false
log4cplus.appender.monAppender.Append=true;
