# This file is to config Appender for TRAFNS
# The config of output is Rolling File Appender

log4cplus.logger.NS=INFO,trafnsAppender
log4cplus.appender.trafnsAppender=log4cplus::RollingFileAppender
log4cplus.appender.trafnsAppender.File=${TRAF_LOG}/trafns${TRAFODION_LOG_FILENAME_SUFFIX}
log4cplus.appender.trafnsAppender.MaxFileSize=100MB
log4cplus.appender.trafnsAppender.MaxBackupIndex=1
log4cplus.appender.trafnsAppender.UseLockFile=false
log4cplus.appender.trafnsAppender.File.AddPid=false
log4cplus.appender.trafnsAppender.layout=log4cplus::PatternLayout
log4cplus.appender.trafnsAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m
log4cplus.appender.trafnsAppender.ImmediateFlush=true
log4cplus.additive.trafnsAppender=false
log4cplus.appender.trafnsAppender.Append=true;
