# This file is to config Appender for MXOSRVR
# The config of output is Rolling File Appender


log4cplus.logger.MXOSRVR=WARN,sqlAppender
log4cplus.appender.sqlAppender=log4cplus::RollingFileAppender
log4cplus.appender.sqlAppender.File=${TRAF_LOG}/trafodion.mxosrvr.${HOSTNAME}.log                                            
log4cplus.appender.sqlAppender.MaxFileSize=100MB
log4cplus.appender.sqlAppender.MaxBackupIndex=2
log4cplus.appender.sqlAppender.UseLockFile = true
log4cplus.appender.sqlAppender.layout=log4cplus::PatternLayout
log4cplus.appender.sqlAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m%n
log4cplus.appender.sqlAppender.ImmediateFlush=true
log4cplus.additive.sqlAppender=false 
log4cplus.appender.sqlAppender.Append=false;
