# This file is to config Appender for PSD
# The config of output is Rolling File Appender

log4cplus.logger.PSD=INFO,psdAppender
log4cplus.appender.psdAppender=log4cplus::RollingFileAppender
log4cplus.appender.psdAppender.File=${TRAF_LOG}/pstartd${TRAFODION_LOG_FILENAME_SUFFIX}
log4cplus.appender.psdAppender.MaxFileSize=100MB
log4cplus.appender.psdAppender.MaxBackupIndex=2
log4cplus.appender.psdAppender.UseLockFile=false
log4cplus.appender.psdAppender.File.AddPid=false
log4cplus.appender.psdAppender.layout=log4cplus::PatternLayout
log4cplus.appender.psdAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m
log4cplus.appender.psdAppender.ImmediateFlush=true
log4cplus.additive.psdAppender=false
log4cplus.appender.psdAppender.Append=true;
