# This file is to config Appender for MONITOR
# The config of output is Rolling File Appender

log4cplus.logger.SQL.SSMP=INFO,ssmpAppender
log4cplus.appender.ssmpAppender=log4cplus::RollingFileAppender
log4cplus.appender.ssmpAppender.File=${TRAF_LOG}/ssmp.${HOSTNAME}.log
log4cplus.appender.ssmpAppender.MaxFileSize=100MB
log4cplus.appender.ssmpAppender.MaxBackupIndex=2
log4cplus.appender.ssmpAppender.UseLockFile=false
log4cplus.appender.ssmpAppender.File.AddPid=false
log4cplus.appender.ssmpAppender.layout=log4cplus::PatternLayout
log4cplus.appender.ssmpAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m%n
log4cplus.appender.ssmpAppender.ImmediateFlush=true
log4cplus.additive.ssmpAppender=false
log4cplus.appender.ssmpAppender.Append=true;

# Object lock
log4cplus.logger.SQL.LOCK=INFO,sscpAppender
