# This file is to config Appender for MONITOR
# The config of output is Rolling File Appender

log4cplus.logger.TM=INFO,tmAppender
log4cplus.appender.tmAppender=log4cplus::RollingFileAppender
log4cplus.appender.tmAppender.File=${TRAF_LOG}/tm.${HOSTNAME}.log
log4cplus.appender.tmAppender.MaxFileSize=100MB
log4cplus.appender.tmAppender.MaxBackupIndex=1
log4cplus.appender.tmAppender.UseLockFile=false
log4cplus.appender.tmAppender.File.AddPid=false
log4cplus.appender.tmAppender.layout=log4cplus::PatternLayout
log4cplus.appender.tmAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m%n
log4cplus.appender.tmAppender.ImmediateFlush=true
log4cplus.additive.tmAppender=false
log4cplus.appender.tmAppender.Append=true;

