#
# @@@ START COPYRIGHT @@@
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# @@@ END COPYRIGHT @@@
#

# Define some default values that can be overridden by system properties
sql.log.dir=${TRAF_LOG}
sql.log.file=trafodion.sql.java.${hostName}.log

log4j.rootLogger=WARN,sqlAppender

# Rolling File Appender
#
log4j.appender.sqlAppender=org.apache.log4j.RollingFileAppender
log4j.appender.sqlAppender.file=${sql.log.dir}/${sql.log.file}
log4j.appender.sqlAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.sqlAppender.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} %X{PID} [%t] ,%p ,%c ,%m%n
log4j.appender.sqlAppender.immediateFlush=true
log4j.appender.sqlAppender.MaxFileSize=100000000
log4j.appender.sqlAppender.MaxBackupIndex=9
log4j.appender.sqlAppender.threshhold=ALL

# Custom Logging levels

log4j.logger.org.trafodion.sql=INFO
log4j.logger.org.trafodion.sql.HiveClient=INFO

log4j.logger.com.esgyn=INFO
log4j.logger.org.trafodion.sql.udr.spsql=INFO
#log4j.logger.org.apache.hadoop.hbase.client.transactional=WARN
log4j.logger.org.apache.hadoop.hbase.client.transactional.RMInterface=INFO
#log4j.logger.org.apache.parquet.hadoop.TrafParquetReader=DEBUG
#log4j.logger.org.trafodion.sql.TrafParquetFileReader=DEBUG

#log4j.logger.org.apache.parquet.hadoop=INFO
#log4j.logger.org.apache.hadoop.hdfs=TRACE

#log4j.logger.org.trafodion.sql.TrafParquetFileWriter=DEBUG
#log4j.logger.org.trafodion.sql.OrcFileReader=DEBUG
log4j.logger.org.apache.hadoop.hbase.pit=INFO
log4j.logger.org.trafodion.libmgmt.HotColdTable=INFO
