#
# @@@ START COPYRIGHT @@@
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# @@@ END COPYRIGHT @@@
#

# Define some default values that can be overridden by system properties
sql.log.dir=${trafodion.logdir}
#trafodion.sql.log=${TRAF_LOG}/trafodion.sql.java.log
sql.log.file=trafodion.xdc.java.${hostName}.log

# Logging Threshold
log4j.threshhold=ALL

# Rolling File Appender
#
log4j.appender.sqlAppender=org.apache.log4j.RollingFileAppender
log4j.appender.sqlAppender.file=${sql.log.dir}/${sql.log.file}
log4j.appender.sqlAppender.layout=org.apache.log4j.PatternLayout
log4j.appender.sqlAppender.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} ,%p ,%c ,%m%n
log4j.appender.sqlAppender.immediateFlush=true
log4j.appender.sqlAppender.MaxFileSize=100000000
log4j.appender.sqlAppender.MaxBackupIndex=9
log4j.additivity.org.trafodion.sql.udr.spsql=false
log4j.additivity.org.trafodion.sql.TrafParquetFileReader=false
log4j.additivity.org.trafodion.sql.parquet.TrafFilter=false
log4j.additivity.org.trafodion.sql.TrafParquetFileWriter=false
log4j.additivity.org.trafodion.sql.OrcFileReader=false
log4j.additivity.org.apache.parquet.hadoop.TrafParquetReader=false
log4j.additivity.org.apache.hadoop.hbase.pit=false
#log4j.additivity.org.apache.hadoop.hbase.client.transactional=false

# Custom Logging levels

log4j.logger.org.apache=ERROR,sqlAppender
log4j.logger.io.esgyn=ERROR,sqlAppender
log4j.logger.org.trafodion.sql=INFO,sqlAppender
log4j.logger.org.trafodion.sql.HiveClient=INFO,sqlAppender
#log4j.logger.org.trafodion.sql=DEBUG,sqlAppender

log4j.logger.com.esgyn=INFO,sqlAppender
log4j.logger.org.trafodion.sql.udr.spsql=INFO,sqlAppender
#log4j.logger.org.apache.hadoop.hbase.client.transactional=WARN,sqlAppender
#log4j.logger.org.apache.hadoop.hbase.client.transactional=TRACE,sqlAppender
#log4j.logger.org.apache.hadoop.hbase.client.transactional.RMInterface=INFO,sqlAppender
#log4j.logger.org.apache.parquet.hadoop.TrafParquetReader=DEBUG,sqlAppender
#log4j.logger.org.trafodion.sql.TrafParquetFileReader=DEBUG,sqlAppender

#log4j.logger.org.apache.parquet.hadoop=INFO,sqlAppender
#log4j.logger.org.apache.hadoop.hdfs=TRACE,sqlAppender

#log4j.logger.org.trafodion.sql.TrafParquetFileWriter=DEBUG,sqlAppender
#log4j.logger.org.trafodion.sql.OrcFileReader=DEBUG,sqlAppender
log4j.logger.org.apache.hadoop.hbase.pit=INFO,sqlAppender
log4j.logger.org.trafodion.libmgmt.HotColdTable=INFO,sqlAppender
