# This file is to config Appender for AUTH
# The config of output is Rolling File Appender

log4cplus.logger.DBSECURITY=INFO, authAppender
log4cplus.logger.AUTH.LDAP=ERROR, authAppender
log4cplus.appender.authAppender=log4cplus::RollingFileAppender
log4cplus.appender.authAppender.File=${TRAF_LOG}/dbsecurity.${TRAFODION_LOG_FILENAME_SUFFIX}.log
log4cplus.appender.authAppender.MaxFileSize=100MB
log4cplus.appender.authAppender.MaxBackupIndex=2
log4cplus.appender.authAppender.UseLockFile=false
log4cplus.appender.authAppender.File.AddPid=false
log4cplus.appender.authAppender.layout=log4cplus::PatternLayout
log4cplus.appender.authAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m
log4cplus.appender.authAppender.ImmediateFlush=true
log4cplus.additive.authAppender=false
log4cplus.appender.authAppender.Append=true;

