# This file is to config Appender for MXOSRVR
# The config of output is Rolling File Appender

log4cplus.logger.MXOSRVR=INFO,sqlAppender
log4cplus.appender.sqlAppender=log4cplus::RollingFileAppender
log4cplus.appender.sqlAppender.File=${TRAF_LOG}/trafodion.sql.${HOSTNAME}.log
log4cplus.appender.sqlAppender.MaxFileSize=100MB
log4cplus.appender.sqlAppender.MaxBackupIndex=2
log4cplus.appender.sqlAppender.UseLockFile=false
log4cplus.appender.sqlAppender.File.AddPid=true
log4cplus.appender.sqlAppender.layout=log4cplus::PatternLayout
log4cplus.appender.sqlAppender.layout.ConversionPattern=%D{%Y-%m-%d %H:%M:%S.%q}, %p, %c, %m%n
log4cplus.appender.sqlAppender.ImmediateFlush=true
log4cplus.additive.sqlAppender=false
log4cplus.appender.sqlAppender.Append=false;

log4cplus.logger.MXOSRVR=WARN,sqlAppender
log4cplus.logger.DBSECURITY=INFO,sqlAppender
log4cplus.logger.com.esgyn.common=ERROR,sqlAppender

# SQL
log4cplus.logger.SQL=INFO,sqlAppender

#log4cplus.logger.SQL.HDFS.ExtStorageScanTcb=DEBUG

#log4cplus.logger.SQL.EXE=INFO,sqlAppender
#log4cplus.logger.SQL.EXE.MINMAX=INFO,sqlAppender
#log4cplus.logger.SQL.EXE.MINMAX=DEBUG,sqlAppender
#log4cplus.logger.SQL.HDFS.ParquetFileReader=DEBUG
log4cplus.logger.SQL.SharedCache=DEBUG

# Object lock
log4cplus.logger.SQL.LOCK=INFO
