# config parameters of row level lock
#LOCK_CACHE_SIZE=1024
#LOCK_ESCALATION_THRESHOLD=0
#LM_LISTENER_PORT=8888
#REST_SERVER_URI=
#XDC_MASTER_SLAVE=
#TRANSACTION_CLEAN_INTERVAL=10000
#REST_CONN_FAILED_TIMES=10
#REST_CONNECT_DETECT_INTERVAL=60000
#REST_CONNECT_TIMEOUT=30000
#REST_READ_TIMEOUT=30000
#DISTRIBUTED_DEADLOCK_DETECT_INTERVAL=6000
#LOCK_DEBUG=false
#LOCK_DEBUG1=false
#ENABLE_LOCK_STATISTICS=false
#LOCK_WAIT_INFO_CHECK_INTERVAL=0
#LOCK_WAIT_INFO_WAITTIME_THRESHOLD=500
#ENABLE_SAVEPOINT=true
#ENABLE_LOCK_FOR_SELECT=false
#LOCK_ENABLE_DEADLOCK_DETECT=true
#LOCK_SKIP_META_TABLE=true
#RECORD_TRANSACTION_LOCKNUM_THRESHOLD=1000
#LM_TRYCONNECT_TIMES=3
# 50M 50 * 1024 * 1024
#LOCK_MESSAGE_COMPRESS_THRESHOLD=564428800
