<?xml version="1.0" encoding="UTF-8"?>

<configuration status="WARN" monitorInterval="5">
	<Properties>
		<property name="logFilePath">${env:TRAF_LOG}</property>
		<property name="logFileName">trafodion.trafci</property>
	</Properties>
	<appenders>

		<RollingFile name="trafcilog"
			fileName="${logFilePath}/${logFileName}.log"
			filePattern="${logFilePath}/${logFileName}.log.%d{yyyy-MM-dd}-%i">
			<PatternLayout>
				<Pattern>%d %p [%t] %location %m %ex%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="30MB" />
			</Policies>
			<DefaultRolloverStrategy min="1" max="999" />
		</RollingFile>

	</appenders>

	<loggers>
		<AsyncLogger name = "org.trafodion.ci" level="OFF" additivity="false"
			includeLocation="true">
			<AppenderRef ref="trafcilog" />
		</AsyncLogger>
		<AsyncLogger name = "org.trafodion.jdbc.t4" level="OFF" additivity="false"
			includeLocation="true">
			<AppenderRef ref="trafcilog" />
		</AsyncLogger>
		<AsyncRoot level="OFF" additivity="false"
			includeLocation="true">
			<AppenderRef ref="trafcilog" />
		</AsyncRoot>
	</loggers>
</configuration>