


// Policy file used by JVM bound in SQL/MX

// mxlangman classes get all permissions.
grant codeBase "file:/usr/tandem/sqlmx/udr/mxlangman.jar"{
	permission java.security.AllPermission;
};

// Sqlj classes get all permissions.
grant codeBase "file:/usr/tandem/sqlmx/lib/sqlj.jar" {
	permission java.security.AllPermission;
};

// jdbcMx.jar classes get all permissions.
grant codeBase "file:/usr/tandem/jdbcMx/current/lib/jdbcMx.jar" {
        permission java.security.AllPermission;
};
